.wrapper {
    width: 800px;
    margin:20px auto;
}

.btn-submit {
    margin-top: 20px;
}

.error {
    color: darkred;
    font-weight: bold;
}

.label-only-main {
  width: calc(100% - 20px);;
  position: relative;
  left: 10px;
  top: 1px;
}

.header-name, .header-value {
  width: 43%;
  display: inline;
  margin-right: 4%;
}

.btn-delete {
  position: relative;
  top: -3px;
  display: inline;
  width: 6%;
}

.headers-array {
  margin-bottom: 10px;
}

.subtitle {
  margin-top: 10px;
  margin-bottom: 5px;
}

.input-only-main {
  margin-top: 25px;
}

.explanation {
  color: red;
}
