.wrapper {
    width: 600px;
    margin:20px auto;
}

.btn-submit {
    margin-top: 20px;
}

.error {
    color: darkred;
    font-weight: bold;
}

.label-only-main {
  width: calc(100% - 20px);;
  position: relative;
  left: 10px;
  top: 1px;
}