<div class="wrapper">
  <h3>Input form</h3>
  <form [formGroup]="inputData" (ngSubmit)="setInputData()">
    <label for="url">URL</label>
    <input name="url" formControlName="url" class="form-control"/>

    <label for="method">Chose type of method</label>
    <select name="method" class="form-control" formControlName="method" (change)="changeMethod()">
      <option *ngFor="let method of methods" [value]="method.shortName">{{method.fullName}}</option>
    </select>

    <input type="checkbox" name="checkbox" class="input-only-main" value="value" formControlName="isMainDataOnly">
    <label for="checkbox_id" class="label-only-main">Only main query params or body</label>

    <label for="body" *ngIf="
      inputData.controls.method.value === 'post' || 
      inputData.controls.method.value === 'put'">Body</label>
    <textarea name="body" formControlName="body" class="form-control" *ngIf="
      inputData.controls.method.value === 'post' || 
      inputData.controls.method.value === 'put'"
    ></textarea>
    <label for="body" *ngIf="
      inputData.controls.method.value === 'get' || 
      inputData.controls.method.value === 'delete'">Query params</label>
    <textarea name="body" formControlName="queryParams" class="form-control" *ngIf="
      inputData.controls.method.value === 'get' || 
      inputData.controls.method.value === 'delete'"
    ></textarea>
    <p *ngIf="!isJsonValid" class="error">JSON body has invalid structure!</p>

    <button class="btn btn-danger btn-submit" [disabled]="inputData.invalid">Start</button>
  </form>
</div>