.request, .response {
    width: 398px;
    display: inline-flex;
    margin-bottom: 0;
    height: 95%;
    overflow-y: scroll;
}

.request {
    border-right: 1px dashed darkred;
    position: relative;
    left: 5px;
}

.response {
    padding-left:10px;
}

.wrapper {
    height: 100px;
    margin-bottom: 5px;
    border-radius: 5px;
}

pre {
    font-size: 12px;
}

.line {
    border: 1px solid red;
    height: auto;
}

.latency {
    position: relative;
    left: 15px;
}